<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxieuQqw3UH5pyBRAmsVttlGCdn_8qWeI</string>
	<key>GCM_SENDER_ID</key>
	<string>1093777612601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.questionbank</string>
	<key>PROJECT_ID</key>
	<string>questionbank-47b3e</string>
	<key>STORAGE_BUCKET</key>
	<string>questionbank-47b3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093777612601:ios:30564b9cc7382951d812e8</string>
</dict>
</plist>